<div ng-controller="ShoppingListCtrl as ctrl">
	<div class="form-group">
		<h3>
			<label for="search">Filtruj</label>
			<input type="text" id="search" ng-model="ctrl.search" class="input input-lg">
			<button type="button"class="btn btn-danger btn-lg" ng-click="ctrl.newItem(ctrl.search)" ng-hide="filteredItems.length">dodaj '{{ ctrl.search }}'</button>
		</h3>
	</div>

	<div ng-repeat="item in filteredItems = (ctrl.items | filter:ctrl.search)" class="item">
		<button ng-click="ctrl.toggle(item)" ng-class="{true:'btn btn-success btn-lg', false: 'btn btn-primary btn-lg'}[item.selected]">
			<span class="glyphicon glyphicon-ok" aria-hidden="true" ng-if="item.selected"></span>
			{{ item.name }}
		</button>
	</div>
</div>
